player-connection-mode=Listen
player-connection-guid=2972451156
player-connection-debug=0
player-connection-project-name=ElonMarsk
player-connection-ip=160.98.117.123
player-connection-ip=25.16.228.225
player-connection-ip=172.17.0.1
player-connection-ip=172.18.0.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
