player-connection-mode=Listen
player-connection-guid=1816369422
player-connection-debug=0
player-connection-project-name=ElonMarsk
player-connection-ip=192.168.43.10
player-connection-ip=25.16.228.225
player-connection-ip=172.17.0.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
